/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style-type: none;
}

/* icon */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding-top: 25px;
  padding-bottom: 24px;
}

.header__logo {
  margin-right: 93px;
  color: #2196f3;
}

.logo__text {
  font-family: Raleway, sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 93px;
}

.main-nav__navigation .main-nav__links::after,
.main-nav__navigation .main-nav__current::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #2196f3;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__navigation > .main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__navigation .main-nav__link {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__navigation .main-nav__link:hover,
.main-nav__navigation .main-nav__link:focus {
  color: #2196f3;
  background: white;
  text-decoration: none;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.main-nav__navigation .main-nav__current {
  color: #2196f3;
}

.main-nav__links,
.main-nav__link {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: #2196f3;
  padding-bottom: 30px;
  position: relative;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__current {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: #2196f3;
  position: relative;
  padding-bottom: 31px;
}

.info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.info-contacts__item .info-contacts__icon {
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-contacts > .info-contacts__item:not(:last-child) {
  margin-right: 30px;
}

.info-contacts__icon:focus {
  fill: #2196f3;
}

.info-contacts__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: pointer;
}

.info-contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.info-contacts__item .info-contacts__mail:focus,
.info-contacts__item .info-contacts__tel:focus {
  color: #2196f3;
}

.info-contacts__item .info-contacts__mail,
.info-contacts__item .info-contacts__tel {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-contacts .info-contacts__mail:focus .info-contacts__icon,
.info-contacts .info-contacts__tel:focus .info-contacts__icon {
  fill: #2196f3;
}

.info-contacts .info-contacts__item:hover .info-contacts__mail,
.info-contacts .info-contacts__item:focus .info-contacts__mail,
.info-contacts .info-contacts__item:hover .info-contacts__tel,
.info-contacts .info-contacts__item:focus .info-contacts__tel {
  color: #2196f3;
}

.info-contacts .info-contacts__item:hover .info-contacts__icon,
.info-contacts .info-contacts__item:focus .info-contacts__icon {
  fill: #2196f3;
}

.hero {
  background: #2f303a;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__container {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.container-overlay {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  margin: 0 auto;
}

.hero__name {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  color: white;
  max-width: 696px;
  margin: auto;
}

.hero__current {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background: #2196f3;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid transparent;
}

.feature {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.container__feature {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
}

.container__feature--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: -30px;
}

.container__feature--item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}
.container__feature--item-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.container__feature--item-item p {
  width: 270px;
}

.container__feature--info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.container__feature--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.container__main {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.container__alert {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
}

.container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: 0;
}

.container__images {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  position: relative;
}

.container__images .container__images--overlay {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
}

.conteiner-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  background: #f5f4fa;
}

.text {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-right: -30px;
  margin-top: 0;
  margin-bottom: 0;
}

.team__images {
  width: 270px;
  background: white;
  margin-right: 30px;
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__title {
  text-align: center;
  padding: 30px 32px;
}

.team__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__card {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.cocial-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.cocial-link__list {
  margin-right: 10px;
  border-radius: 50%;
}

.cocial-link__list:last-child {
  margin-right: 0;
}

.cocial-link__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cocial-link__item:last-child {
  margin-right: 0;
  padding: 12px;
}

.cocial-link__icon {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cocial-link__item:focus {
  background-color: #2196f3;
}

.cocial-link .cocial-link__list:hover .cocial-link__icon,
.cocial-link .cocial-link__list:focus .cocial-link__icon {
  fill: white;
  -webkit-transition: opacity 1s, height 1s;
  transition: opacity 1s, height 1s;
}

.cocial-link .cocial-link__list:hover,
.cocial-link .cocial-link__list:focus {
  background-color: #2196f3;
}

.container-client {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.container-client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container-client__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  margin-right: 30px;
  -ms-flex-preferred-size: calc(100% / 6 - 30px);
      flex-basis: calc(100% / 6 - 30px);
  cursor: pointer;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-client__svg {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-client__logo .conteiner-client__link:hover,
.container-client__logo .conteiner-client__link:focus {
  border-radius: 4px;
  border: 1px solid #2196f3;
}

.container-client__logo .container-client__link:hover .container-client__svg,
.container-client__logo .container-client__link:focus .container-client__svg {
  fill: #2196f3;
}

.footer {
  background: #2f303a;
}

.conteiner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: auto;
  max-width: 1200px;
  padding: 60px 15px;
}

.footer__logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo__label {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: white;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
}

.address__link {
  margin-top: 20px;
  margin-bottom: 0;
}

.address__mail {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.address__info {
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 9px;
  margin-bottom: 0;
}

.footer__cocial {
  margin-left: 70px;
}

.conteiner__list--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
  fill: currentColor;
}

.conteiner__list--info:focus .conteiner__icons--svg {
  color: #2196f3;
}

.conteiner__list--info > .conteiner__icon--list:not(:last-child) {
  margin-right: 10px;
}

.conteiner__icon--list {
  padding: 12px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.conteiner__icons--svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: white;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner__list--info > .conteiner__cocial--info:hover,
.conteiner__list--info > .conteiner__cocial--info:focus {
  background-color: #2196f3;
}

.conteiner__list--info > .conteiner__icon--list:hover,
.conteiner__list--info > .conteiner__icon--list:focus {
  background-color: #2196f3;
}

.conteiner__icon--list .conteiner__cocial--info:focus,
.conteiner__icon--list .conteiner__cocial--info:hover {
  fill: #2196f3;
}

/* .cocial-info:focus {
  fill: var(--blue-text);
} */
.conteiner__cocial--info {
  -webkit-transition-property: backgraund-color;
  transition-property: backgraund-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner__info--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.conteiner__text--foot {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  margin-right: 10px;
}

.tconteiner__text--info {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-left: 93px;
}

.conteiner__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition-property: backgraund-color;
  transition-property: backgraund-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner__email {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  color: white;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  -webkit-transition-property: backgraund-color;
  transition-property: backgraund-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner__email:focus-within,
.conteiner__email:hover,
.conteiner__email:active {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.conteiner__button:focus,
.conteiner__button:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.conteiner__telega {
  fill: white;
}/*# sourceMappingURL=main.css.map */