@import 'basa/modern-normalize';
@import 'basa/defaults';
@import 'utils/variables';
@import 'components/header-container';

/* hero */

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  content: '';

  top: 50%;
  left: 50%;

  width: 528px;
  padding: 40px;
  margin: 8px;
  background-color: var(--white-list);
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.data-modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  bottom: 93%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.data-modal-close:focus,
.data-modal-close:hover {
  fill: var(--blue-text);
}

.text-modal {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-info label {
  margin-bottom: 4px;
  color: var(--pepel-text);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.input-modal {
  content: '';
  position: relative;
}

.form-input {
  border: 1px solid var(--border-modal);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 35px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  transition-property: border;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
  outline: none;
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--blue-text);
}

.form-input:focus,
.form-input:hover {
  border: 1px solid var(--blue-text);
}

.form-icon {
  position: absolute;

  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid var(--border-modal);

  color: var(--pepel-text-opacity);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  cursor: pointer;
  outline: none;
}

.form-info:focus > textarea,
.form-info:hover > textarea {
  border: 1px solid var(--blue-text);
}

.form-policy {
  margin-bottom: 30px;

  color: var(--pepel-text);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.span-text {
  display: flex;
  text-decoration-line: underline;
  color: var(--blue-text);
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input-check:checked + .check-icon {
  background-color: var(--blue-text);
  background-image: url(../images/iconssvg/symbol-defs.svg#icon-icon-check-1);
  background-size: contain;
  border-color: var(--blue-text);
  border-radius: 2px;
}

.check-icon {
  display: inline-block;
  margin-right: 9px;
  border: 2px solid var(--black-text);
  fill: var(--white-text);
}

.input-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.button-clik {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  margin: 30px 125px 29px 123px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0;
  letter-spacing: 0.06em;
  color: var(--white-text);
  background-color: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.button-clik:focus,
.button-clik:hover {
  background-color: var(--button-clik);
}

.hero {
  background: var(--background-section-one);

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.conteiner-hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1200px;
  margin: 0 auto;
}

.name {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  color: var(--white-text);
  max-width: 696px;
  margin: auto;
}

.current {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: var(--white-text);
  background: var(--blue-text);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

/* критерии */

.feature {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}

.conteiner-feature {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: -30px;
}

.item-set {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.item-set h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.item-set p {
  width: 270px;
}

.feature-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--pepel-text);
}

.list-set {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--icon-background);
  padding: 25px 100px;
  margin-bottom: 30px;
}

/* main */

.main {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--black-text);
  margin-bottom: 50px;
  text-align: center;
}

.conteiner-main {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  margin-right: 0;
}

.images {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;

  position: relative;
}

.images .images-overlay {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  background-color: var(--label);
}

/* команда */

.conteiner-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  background: var(--background-section-four);
}

.main-team {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--black-text);
  text-align: center;
  margin-bottom: 50px;
}

.team-item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-right: -30px;
  margin-top: 0;
  margin-bottom: 0;
}

.team-images {
  background: var(--white-list);
  margin-right: 30px;
  flex-basis: calc(100% / 4 - 30px);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list {
  text-align: center;
  padding: 30px 32px;
}

.team {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--black-text);
  margin-bottom: 10px;
}

.team-card {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--pepel-text);
  margin-bottom: 16px;
}

.cocial-link {
  display: flex;
}

.cocial-list {
  margin-right: 10px;
  border-radius: 50%;
}

.cocial-list:last-child {
  margin-right: 0;
}

.cocial-item {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.cocial-item:last-child {
  margin-right: 0;
  padding: 12px;
}

.icon-svg {
  fill: var(--icon-cocial);
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.cocial-item:focus {
  background-color: var(--blue-text);
}

.cocial-link .cocial-list:hover .icon-svg,
.cocial-link .cocial-list:focus .icon-svg {
  fill: var(--white-text);
  transition: opacity 1s, height 1s;
}

.cocial-link .cocial-list:hover,
.cocial-link .cocial-list:focus {
  background-color: var(--blue-text);
}

/* Постоянные клиенты */

.conteiner-client {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.client {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.list-client {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 0;
  margin-bottom: 0;
}

.list-client .clients-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: var(--icon-cocial);
  border-radius: 4px;
  border: 1px solid var(--icon-cocial);
  margin-right: 30px;
  flex-basis: calc(100% / 6 - 30px);
  cursor: pointer;
}

.clients-logo .list-logo {
  transition-property: border;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.clients-svg {
  fill: var(--icon-cocial);
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.clients-logo .list-logo:hover,
.clients-logo .list-logo:focus {
  border-radius: 4px;
  border: 1px solid var(--blue-text);
  height: 90px;
  width: 480px;
}

.clients-logo .list-logo:hover .clients-svg,
.clients-logo .list-logo:focus .clients-svg {
  fill: var(--blue-text);
}

/* address */

.footer {
  background: var(--background-section-one);
}

.conteiner-info {
  display: flex;
  align-items: baseline;
  margin: auto;
  max-width: 1200px;
  padding: 60px 15px;
}

.cocial-icons {
  margin-left: 70px;
}

.logo-footer {
  color: var(--blue-text);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.span {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.info {
  background: var(--background-section-one);
  color: var(--footer-adress);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address-link {
  margin-top: 20px;
}

.address-link > .link-info:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.info-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}

.list-info {
  display: flex;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
  fill: currentColor;
}

.list-info:focus .icons-svg {
  color: var(--blue-text);
}

.list-info > .icon-list:not(:last-child) {
  margin-right: 10px;
}

.icon-list {
  padding: 12px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--header-backgraund);
  cursor: pointer;
}

.icons-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white-text);
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.list-info > .cocial-info:hover,
.list-info > .cocial-info:focus {
  background-color: var(--blue-text);
}

.list-info > .icon-list:hover,
.list-info > .icon-list:focus {
  background-color: var(--blue-text);
}

.icon-list .cocial-info:focus,
.icon-list .cocial-info:hover {
  fill: var(--blue-text);
}

/* .cocial-info:focus {
  fill: var(--blue-text);
} */

.cocial-info {
  transition-property: backgraund-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.form {
  display: flex;
  margin-left: 93px;
}

.text-foot {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  margin-right: 10px;
}

.text-info {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-left: 93px;
}

.button {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background-color: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition-property: backgraund-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.email {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;

  color: var(--white-text);
  background-color: var(--background-section-one);
  border: 1px solid var(--backgraund-border);
  border-radius: 4px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  transition-property: backgraund-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.email:focus-within,
.email:hover,
.email:active {
  border: 1px solid var(--blue-text);
  border-radius: 4px;
}

.button:focus,
.button:hover {
  border: 1px solid var(--blue-text);
  border-radius: 4px;
}

.telega {
  fill: var(--white-text);
}

/* portfolio */

.none {
  display: none;
}

.portfolio {
  padding-top: 92px;
  padding-bottom: 92px;
}

.conteiner-portfolio {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list-button {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.list-button > .section-button:not(:last-child) {
  margin-right: 8px;
}

.list-button .section-btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 11px 22px;
}

.section-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background: var(--background-section-four);
  color: var(--black-text);
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.section-button .section-btn:hover,
.section-button .section-btn:focus {
  color: var(--white-text);
  background: var(--blue-text);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.list-list:focus .section-button {
  background-color: var(--blue-text);
}

.section-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

/* portfolio-card */

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 0;
  padding: 0;
}

.list-portfolio > .card-portfolio {
  border: 1px solid var(--border-card);

  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);

  transition-property: box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.card-item {
  padding: 20px 24px;
}

.portfolio-info {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--black-text);
  background: var(--white-list);
}

.portfolio-finger {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--pepel-text);
  background: var(--white-list);

  margin-top: 4px;
}

.card-portfolio:hover,
.card-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translate(0);
}

.card-list {
  position: relative;
  width: 368px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hover-overlay);
  overflow: hidden;
}

.art-card:hover .portfolio-overlay,
.art-card:focus .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-overlay);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-overlay {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-text);
  padding: 63px 24px;
}
