.container-client {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.container-client__list {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container-client__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $icon-cocial;
  border-radius: 4px;
  border: 1px solid $icon-cocial;
  margin-right: 30px;
  flex-basis: calc(100% / 6 - 30px);
  cursor: pointer;

  transition-property: border;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.container-client__svg {
  fill: $icon-cocial;
  transition-property: fill;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

// .container-client__link:hover,
// .container-client__link:focus {
//   border: 1px solid $blue-text;
//   border-radius: 4px;
// }

// .container-client__link:hover .container-client__svg,
// .container-client__link:focus .container-client__svg {
//   fill: $blue-text;
// }

.container-client__logo .conteiner-client__link:hover,
.container-client__logo .conteiner-client__link:focus {
  border-radius: 4px;
  border: 1px solid $blue-text;
}

.container-client__logo .container-client__link:hover .container-client__svg,
.container-client__logo .container-client__link:focus .container-client__svg {
  fill: $blue-text;
}
