.conteiner-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  background: $background-section-four;
}

.text {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: $black-text;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: -30px;
  margin-top: 0;
  margin-bottom: 0;
}

.team__images {
  width: 270px;
  background: $white-list;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__title {
  text-align: center;
  padding: 30px 32px;
}

.team__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $black-text;
  margin-bottom: 10px;
}

.team__card {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $pepel-text;
  margin-bottom: 16px;
}

.cocial-link {
  display: flex;
  padding-left: 0;
}

.cocial-link__list {
  margin-right: 10px;
  border-radius: 50%;
}

.cocial-link__list:last-child {
  margin-right: 0;
}

.cocial-link__item {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.cocial-link__item:last-child {
  margin-right: 0;
  padding: 12px;
}

.cocial-link__icon {
  fill: $icon-cocial;
  transition-property: fill;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.cocial-link__item:focus {
  background-color: $blue-text;
}

.cocial-link .cocial-link__list:hover .cocial-link__icon,
.cocial-link .cocial-link__list:focus .cocial-link__icon {
  fill: $white-text;
  transition: opacity 1s, height 1s;
}

.cocial-link .cocial-link__list:hover,
.cocial-link .cocial-link__list:focus {
  background-color: $blue-text;
}
