.header {
  border-bottom: 1px solid $border;
}

.header__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.header__main--nav {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.header__logo {
  color: $blue-text;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  padding-top: 25px;
  padding-bottom: 24px;
}

.header__text {
  font-family: Raleway, sans-serif;
  color: $black-text;
  letter-spacing: 0.03em;
}

.header__social--links {
  display: flex;
  margin: 0;
  margin-left: 93px;
}

.header__social--links .header__links::after,
.&-social--links .&-link--current::after {
  content: '';
  display: flex;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: $blue-text;
  transform: translateY(1px);
  transition: fill $time $cubic;

  .&-social--links > .&-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__social-links .header__link {
  color: $black-text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $cubic;

  .&-social--links .&-link:hover,
  .&-social--links .&-link:focus {
    color: $blue-text;
    background: $white-text;
    text-decoration: none;
    transform: translateY(1px);
  }
}

.header__links,
.header__link {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: $blue-text;
  padding-bottom: 30px;
  position: relative;
  transition: fill $time $cubic;
}

.header__link--current {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: $blue-text;
  position: relative;
  padding-bottom: 31px;
}

.header__social--info {
  display: flex;
  margin-left: auto;

  .&-item .&-icon {
    margin-right: 10px;
    align-items: center;
    fill: $pepel-text;
    transition-property: fill;
    transition-duration: $time;
    transition-timing-function: $cubic;
  }

  .&-social--info > .&-item:not(:last-child) {
    margin-right: 30px;
  }

  .&-icon:focus {
    fill: $blue-text;
  }
}

.header__contacts--mail {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $pepel-text;
  cursor: pointer;
}

.header__contacts--tel {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $pepel-text;
}

.header__item .header__contacts--mail:focus,
.&-item .&-contacts--tel:focus {
  color: $blue-text;
}

.header__item .header__contacts--mail,
.&-item .&-contacts--tel {
  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.header__social--info .header__contacts--mail:focus .header__icon,
.&-social--info .&-contacts--tel:focus .&-icon {
  fill: $blue-text;
}

.header__social--info .header__item:hover .header__contacts--mail,
.&-social--info .&-item:focus .&-contacts--mail,
.&-social--info .&-item:hover .&-contacts--tel,
.&-social--info .&-item:focus .&-contacts--tel {
  color: $blue-text;
}

.header__social--info .header__item:hover .header__icon,
.&-social--info .&-item:focus .&-icon {
  fill: $blue-text;
}
