.header {
  border-bottom: 1px solid $border;
}

.header__container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  padding-top: 25px;
  padding-bottom: 24px;
}

.header__logo {
  margin-right: 93px;
  color: $blue-text;
}

.logo__text {
  font-family: Raleway, sans-serif;
  color: $black-text;
  letter-spacing: 0.03em;
}

.navigation {
  display: flex;
  margin: 0;
  margin-left: 93px;
}

.main-nav__navigation .main-nav__links::after,
.main-nav__navigation .main-nav__current::after {
  content: '';
  display: flex;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: $blue-text;
  transform: translateY(1px);
  transition: fill $time $cubic;
}

.main-nav__navigation > .main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__navigation .main-nav__link {
  color: $black-text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.main-nav__navigation .main-nav__link:hover,
.main-nav__navigation .main-nav__link:focus {
  color: $blue-text;
  background: $white-text;
  text-decoration: none;
  transform: translateY(1px);
}

.main-nav__navigation .main-nav__current {
  color: $blue-text;
}

.main-nav__links,
.main-nav__link {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: $blue-text;
  padding-bottom: 30px;
  position: relative;
  transition: fill $time $cubic;
}

.main-nav__current {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: $blue-text;
  position: relative;
  padding-bottom: 31px;
}

.info-contacts {
  display: flex;
  margin-left: auto;
}

.info-contacts__item .info-contacts__icon {
  margin-right: 10px;
  align-items: center;
  fill: $pepel-text;
  transition-property: fill;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.info-contacts > .info-contacts__item:not(:last-child) {
  margin-right: 30px;
}

.info-contacts__icon:focus {
  fill: $blue-text;
}

.info-contacts__mail {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $pepel-text;
  cursor: pointer;
}

.info-contacts__tel {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $pepel-text;
}

.info-contacts__item .info-contacts__mail:focus,
.info-contacts__item .info-contacts__tel:focus {
  color: $blue-text;
}

.info-contacts__item .info-contacts__mail,
.info-contacts__item .info-contacts__tel {
  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $cubic;
}

.info-contacts .info-contacts__mail:focus .info-contacts__icon,
.info-contacts .info-contacts__tel:focus .info-contacts__icon {
  fill: $blue-text;
}

.info-contacts .info-contacts__item:hover .info-contacts__mail,
.info-contacts .info-contacts__item:focus .info-contacts__mail,
.info-contacts .info-contacts__item:hover .info-contacts__tel,
.info-contacts .info-contacts__item:focus .info-contacts__tel {
  color: $blue-text;
}

.info-contacts .info-contacts__item:hover .info-contacts__icon,
.info-contacts .info-contacts__item:focus .info-contacts__icon {
  fill: $blue-text;
}
